<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsam laudantium ut qui, doloremque, quo odit temporibus quod ratione fugit iure animi quae nulla atque maiores molestiae eligendi quos repellat.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>