<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Signin form</h3>
            </div>
            <img src="/img/logo_cpinfo.png" class="rounded mx-auto m-4 d-block logo" alt="">
            <div class="card-body">
                <form action="/users/signin" method="post">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="Email" value="" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">SignIn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>